{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Cleveland PyLadies Check-in</title>
<link rel="stylesheet" href="{% static 'css/radial.css' %}">
{% endblock head %}

{% block content %}

<!-- Source: https://codepen.io/web-tiki/pen/ZYmZoV -->
<div class='radial container'>
    <h2>Coming soon: online check-in</h2>
    <span><span></span></span>
    <div class="wrap">
        <a href="#">
            <div></div>
        </a>
        <a href="#">
            <div></div>
        </a>
        <a href="#">
            <div></div>
        </a>
        <a href="#">
            <div></div>
        </a>
        <a href="#">
            <div></div>
        </a>
    </div>
    <h2 style="text-align: right;">Coming soon: online check-in</h2>
</div>
{% endblock content %}