{% extends 'base.html' %}

{% block head %}
    <title>Cleveland PyLadies Check-in</title>
{% endblock head %}

{% block content %}

<h2>Coming soon: online check-in</h2>

{% for event in events %}
<div class='event-summary'>
<h2 class='date'> {{ event.event_date }}</h2>
<h3>{{ event.event.event_name }}</h3>
<p> {{ event.event.event_description|linebreaksbr }}</p>
{% if user.is_authenticated %}

<a href=""><span class="glyphicon glyphicon-plus">Add event check-in</span></a>

{% endif %}

</div>
{% endfor %}
{% endblock content %}
